:root {
  --aside-width: 210px;
  --aside-collapsed-width: 60px;
  --aside-background-color: #2c343f;
  --layout-background-color: #f4f8fb;
  --header-nav-background-color: #fff;
  --header-height: 90px;
  --header-nav-height: 50px;
}


body {
  background-color: var(--layout-background-color);
}

.ag-aside {
  color: white;
  background-color: #2c343f;
  width: var(--aside-width);
}

.ag-brand {
  height: var(--header-nav-height);
  line-height: var(--header-nav-height);
  text-align: center;
}

.ag-brand img {
  display: inline-block;
  height: 39px;
}

.ag-header {
  width: calc(100% - var(--aside-width));
  margin-left: var(--aside-width);
  height: var(--header-height);
  z-index: 10;
}

.ag-header-nav {
  background-color: var(--header-nav-background-color);
  height: var(--header-nav-height);
}

.ag-header-tab {
  background-color: var(--layout-background-color);
}

.ag-main {
  margin-top: var(--header-height);
  margin-left: var(--aside-width);
  width: calc(100% - var(--aside-width));
  padding: 1rem;
}
